<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Bellor Restaurante | Site Oficial</title>
<link rel="stylesheet" href="cabecalho.css">
<link rel="icon" type="image/png" href="img/Logo.titulo.png">
</head>
<body>
<header>
  <nav class="navbar">
    <a href="index.html" class="logo">
      <img src="img/Logo.png" class="logo-tipo" alt="Logo Bellor">
    </a>

    <ul class="nav-links" id="nav-links">
      <li><a href="index.html">Home</a></li>
      <li><a href="reservas.html">Reservas</a></li>
      <li><a href="menu.html">Menu</a></li>
      <li><a href="projeto.html">Projeto</a></li>
      <li><a href="avaliacoes.html">Avaliações</a></li>
      <li><a href="sobre.html">Sobre nós</a></li>
    </ul>

    <div class="right-section">
       <a href="login.html" class="login">
      <img src="img/user.png" class="login" alt="Login">
      </a>
      <label class="switch">
        <input type="checkbox" id="modo-btn">
        <span class="slider"></span>
      </label>
      <button class="hamburger" id="hamburger">&#9776;</button>
    </div>
  </nav>
</header>

<script src="script.js"></script>
</body>
</html>
